<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold">{{ user?.prenom }} {{ user?.nom }}</span>
        <span class="text-black-50">{{ user?.email }}</span>
        <span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">First Name</label>
              <input type="text" class="form-control" formControlName="prenom">
            </div>
            <div class="col-md-6">
              <label class="labels">Last Name</label>
              <input type="text" class="form-control" formControlName="nom">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Mobile Number</label>
              <input type="text" class="form-control" formControlName="contact">
            </div>
            <div class="col-md-12">
              <label class="labels">Email ID</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-md-12">
              <label class="labels">Department</label>
              <input type="text" class="form-control" formControlName="departement">
            </div>
            <div class="col-md-12">
              <label class="labels">Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
