<!-- ***** Main Banner Area Start ***** -->
<section class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="header-text">
          <h6>Welcome To Our TTC</h6>
          <strong>
            <h1>Bienveneue Chez TUNISIE TELECOM</h1>
          </strong>
          <div class="main-button-gradient">
            <div class="scroll-to-section"><a routerLink="/register">Join Us Now!</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image" id="taswira">
          <img src="assets/images/ttcc.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
  <h3>Our Services</h3>
  <p class="section-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.</p>
  <div class="services-grid">
    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h4>Logs Management</h4>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h4>Equipments Creation</h4>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="cta">Read More <span class="ti-angle-right"> </span></a>
    </div>

    <div class="service service3">
      <i class="ti-money"></i>
      <h4>Error Consulting</h4>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a>
    </div>
  </div>
</section>

<section id="about" class="about">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="header-text">
            <h4 style="text-align: center;">More About Us</h4>
            <h1 style="text-align: center;">About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="get-info" id="company">
    <div class="company">
      <div class="img">
        <img src="assets/images/logott.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>La Vie <span class="our">Est Emotions</span></span>
        <p>
          <b>Tunisie Telecom </b> is the incumbent telecom operator in Tunisia. It has more than 6 million
          subscribers in the fixed and mobile telephony, in Tunisia and abroad.
        </p>
      </div>
    </div>

  </section>

  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h6>Our Team</h6>
            <h4>Our Team <em>Members</em></h4>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div>
                      <img src="assets/images/khaled.jpg" alt="">
                      <h4>Khaled Saadeoui</h4>
                      <span>Student</span>
                    </div>
                    <div>
                      <img src="assets/images/Ghlala.png" alt="">
                      <h4>Riadh Ghlala</h4>
                      <span>Professor</span>
                    </div>
                    <div>
                      <img src="assets/images/amine.jpg" alt="">
                      <h4> Amine Mkacher</h4>
                      <span>IT Datacenter Engineer</span>
                    </div>
                    <div>
                      <img src="assets/images/dali.jpg" alt="">
                      <h4>Mohamed Ali Neji</h4>
                      <span>Student</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="contact-us our-office">
      <div class="container">
        <div class="row">

          <div class="col-lg-8">
          </div>
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#"><img src="assets/icons/facebook.png" alt="facebook"></a></li>
              <li><a href="#"><img src="assets/icons/twitter.png" alt="twitter"></a></li>
              <li><a href="#"><img src="assets/icons/linkedin.png" alt="linkedin"></a></li>
            </ul>
          </div>
          <div class="col-lg-12">

          </div>
        </div>
      </div>
    </section>
  </section> -->

  <section class="contact-us" id="contact-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div id="map">

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1693.2376883319646!2d10.271032088131712!3d36.76080023902849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd49fa15643927%3A0xad64c8c462b52435!2sHigher%20Institute%20of%20Technological%20Studies%20of%20Rades!5e0!3m2!1sen!2stn!4v1712373922056!5m2!1sen!2stn"
              allowfullscreen="" width="600" referrerpolicy="no-referrer-when-downgrade" loading="lazy" height="450px"
              frameborder="0" style="border:0; border-radius: 15px; position: relative; z-index: 2;"></iframe>
          </div>
        </div>
        <div class="col-lg-4">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Contact us</h6>
                  <h4>Say <em>Hello</em></h4>
                  <p>If you need any question don't hesitate to contact us.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Full Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email"
                    required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-gradient-button btn btn-primary">Send
                    Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-12">
          <!-- <ul class="social-icons">
            <li><a href="#"><img src="assets/icons/facebook.png" alt="facebook"></a></li>
            <li><a href="#"><img src="assets/icons/twitter.png" alt="twitter"></a></li>
            <li><a href="#"><img src="assets/icons/linkedin.png" alt="linkedin"></a></li>
          </ul> -->
          <a href="https://www.facebook.com/TunisieTelecom"><img src="assets/icons/facebook.png" alt="facebook"></a>
          <a href="https://www.twitter.com/TunisieTelecom"><img src="assets/icons/twitter.png" alt="twitter"></a>
          <a href="https://www.linkedin.com/TunisieTelecom"><img src="assets/icons/linkedin.png" alt="linkedin"></a>

        </div>
        <div class="col-lg-12">
          <p class="copyright" style="color: black; text-align: center;">Copyright © 2024 . All Rights Reserved to
            Tunisie Telecom</p>

        </div>
      </div>
    </div>
  </section>