.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-item {
  width: 45%;
  /* Adjust as needed */
  margin-bottom: 20px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;
}
.chart-item3 {
  width: 45%;
  /* Adjust as needed */
  margin-bottom: 20px;
  flex: 1;
  box-shadow: 10px 10px 5px #aaaaaa;

}

canvas {
  width: 100%;
  /* Ensure canvas uses all available width */
  height: auto;
  /* Maintain aspect ratio */
  border: 1px solid #ccc;
}

.chart-item1 {
  width: 45%;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 10px;
}

.chart-item2 {
  width: 45%;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 10px;

}
h2,h3{
  text-align: center;
}
.a,.b {
  width: 100%;
  flex: 1;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 10px;
}
