<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charts for {{serviceName}}</title>
</head>

<body>

  <h1>Charts for {{serviceName}}</h1>
  <div *ngIf="serviceName === 'fortigate'">
    <div class="a">
      <h2>Traffic Trends By Port</h2>
      <canvas #serviceCountByTimeChart></canvas>
    </div>
    <div class="chart-container">


      <div class="chart-item1">
        <h2>Threat Level</h2>
        <canvas #threatLevelChart></canvas>
      </div>
      <div class="chart-item2">
        <h2>Action distribution</h2>
        <canvas #pieChart></canvas>
      </div>
      <div class="chart-item">
        <h2>Services</h2>
        <canvas #serviceCountChart></canvas>
      </div>
      <div class="chart-item">
        <h2>Actions</h2>
        <canvas #logChart></canvas>
      </div>
    </div>
    <div class="a">
      <h2>Source-Destination Countries</h2>
      <canvas #sourceDestinationChart></canvas>
    </div>
    <div class="b">
      <h2>Source-Destination IPs</h2>
      <canvas #sourceDestinationIPChart></canvas>
    </div>
  </div>

  <div *ngIf="serviceName === 'mysql'">
    <div class="a">
      <h2>Queries</h2>
      <canvas #queryCountChart></canvas>
    </div>
    <div class="chart-container">

      <div class="chart-item3">
        <h3>Host Activity</h3>
        <canvas #hostActivityChart></canvas>
      </div>
      <div class="chart-item3">
        <h3>Event Dataset</h3>
        <canvas #eventDatasetChart></canvas>
      </div>
      <div class="chart-item3">
        <h3>Agent Versions</h3>
        <canvas #agentVersionChart></canvas>
      </div>
      <div class="chart-item3">
        <h3>Host Os Versions</h3>
        <canvas #hostOSVersionChart></canvas>
      </div>
    </div>
    <div class="b">
      <h2>LogFile Paths</h2>
      <canvas #logFilePathChart></canvas>
    </div>
  </div>
</body>

</html>
