<div class="container mt-3">
  <div class="profile ">
    <h1 class="mb-2">List of Users</h1>
    <input type="button" value="Create" (click)="openAjout()" class="btn btn-primary">
    <table class="table table-bordered table-hover mt-3">
      <thead>
        <tr class="table-secondary">
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>E-Mail</th>
          <th>Departement</th>
          <th>Contact</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let i of listeUsers; let x = index">
          <td>{{x+1}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.nom}}</td>
          <td>{{i.email}}</td>
          <td>{{i.departement}}</td>
          <td>{{i.contact}}</td>
          <td> <input type="button" value="Edit" (click)="onModifie(i)" class="btn btn-outline-warning "></td>
          <td> <input type="button" value="Delete" (click)="onDeleteUser(i.id_user)" class="btn btn-outline-danger">
          </td>

      </tbody>
    </table>
  </div>
</div>


<ng-template #pop let-modal>

  <div class="modal-content">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Add a new proposition </h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body p-5 pt-0">

      <form [formGroup]="popform" (ngSubmit)="onSubmit()">
        <label for="id_user">ID:</label><br>
        <input type="text" id="id_user" name="id_user" formControlName="id_user" class="form-control" readonly>

        <label for="nom" class="form-label mt-3">First Name:</label><br>
        <input type="text" id="prenom" name="prenom" class="form-control" formControlName="prenom">
        <label for="adresse" class="form-label mt-3">Last Name:</label><br>
        <input type="text" id="nom" name="nom" class="form-control" formControlName="nom">
        <label for="email" class="form-label mt-3"> Email:</label><br>
        <input type="email" id="email" name="email" formControlName="email" class="form-control">

        <label for="departement" class="form-label mt-3">Departement</label>
        <input type="text" class="form-control" id="departement" name="departement" formControlName="departement">

        <label for="contact" class="form-label mt-3">Contact</label>
        <input type="text" class="form-control" id="contact" name="contact" formControlName="contact">

        <label for="password" class="form-label mt-3">Password</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password">

        <input type="submit" class="btn btn-success m-3" value="Submit" [disabled]="popform.invalid">
        <input type="button" class="btn btn-secondary" value="Cancel" (click)="modal.close()">

      </form>

    </div>
  </div>
</ng-template>













<ng-template #pop1 let-modal>

  <div class="modal-content">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h1 class="fw-bold mb-0 fs-2">Add User:</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body p-5 pt-0">

      <form [formGroup]="popform1" (ngSubmit)="onAjout()">
        <!-- <label for="id_user">ID:</label><br>
          <input type="text" id="id_user" formControlName="id_user" class="form-control" ><br> -->

        <label for="prenom">First Name:</label><br>
        <input type="text" id="prenom" class="form-control" formControlName="prenom">
        <label for="nom" class="form-label mt-3">Last Name:</label><br>
        <input type="text" id="nom" class="form-control" formControlName="nom">

        <label for="email" class="form-label mt-3"> Email:</label><br>
        <input type="email" id="email" formControlName="email" class="form-control">

        <label for="departement" class="form-label mt-3">Departement</label>
        <input type="text" class="form-control" id="departement" formControlName="departement">
        <label for="contact" class="form-label mt-3">Contact</label>
        <input type="text" class="form-control" id="contact" formControlName="contact">

        <label for="password" class="form-label mt-3">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">


        <input type="submit" class="btn btn-success m-3" value="Submit" [disabled]="popform1.invalid">
        <input type="button" class="btn btn-secondary" value="Cancel" (click)="modal.close()">

      </form>

    </div>
  </div>
</ng-template>
