* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.services-section {
  text-align: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;

}

.services-section h1 {
  font-size: 36px;
  color: #111;
  margin-bottom: 20px;
}

.services-section p {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.services-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.services-card {
  background: linear-gradient(135deg, #a8ff78, #78ffd6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  flex: 1;
  transition: transform 0.3s;
}

.services-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #111;
}

.services-card .service1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #111;
}

.services-card p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.services-card .btn {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.services-card .btn:hover {
  background-color: #333;
}

.services-card:hover {
  transform: translateY(-10px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
