<section class="services-section">
  <h1>Our Services</h1>
  <p>Choose a service to see your logs.</p>
  <div class="services-cards">
    <div class="services-card" *ngFor="let i of listeServices; let x = index">
      <h2></h2>
      <div class="service">
        <span class="service1">{{i.name}}</span>
      </div>
      <p>{{i.name}} Service</p>
      <a (click)="viewLogs(i.name)" class="btn" >View Logs</a>
      <a (click)="viewCharts(i.name)" class="btn">View Charts</a>

    </div>
  </div>
</section>
