<div class="logs-container">
  <h1>Logs for {{ serviceName }}</h1>
  <div>
    <table class="log-table">
      <!-- Table Header -->
      <thead>
        <tr>
          <th>Log ID</th>
          <th>Timestamp</th>
          <th>Index</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <ng-container *ngFor="let log of getPaginatedLogs(); let i = index">
          <!-- Log Row -->
          <tr (click)="toggleDetails(log)" class="log-summary">
            <td>{{ log._id }}</td>
            <td>{{ log.fields['@timestamp'][0] }}</td> <!-- Display timestamp -->
            <td>{{log._index}}</td>
          </tr>
          <!-- Log Details Row -->
          <tr *ngIf="log.showDetails">
            <td colspan="1">
              <div class="log-details-card">
                <table class="details-table">
                  <tbody>
                    <tr *ngFor="let key of getObjectKeys(log.fields)">
                      <td><strong>{{ key }}</strong></td>
                      <td>{{ log.fields[key][0] }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span *ngFor="let page of getPageNumbers()" (click)="onPageChange(page)" [class.active]="page === currentPage">{{
        page === -1 ? '...' : page }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages">Next</button>
    </div>

  </div>
</div>
