.main-nav {
    background: linear-gradient(90deg, rgb(193, 168, 168) 0%, rgb(159, 163, 246) 100%);
    border-radius: 15px;
    padding: 10px 20px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    left: 0%;
    right: 0%;
}

.header-area .main-nav .logo img {
    max-width: 100px;
    height: auto;
    vertical-align: middle;
}


.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-right:10px;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.main-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#signup-btn,
#signin-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #050505f5;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#signup-btn:hover,
#signin-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.main-banner {
    padding-top: 50
    px;
  }

  .header-text {
    text-align: left; /* Aligner le texte à gauche */
  }

  .header-text h6 {
    color: #808080; /* Couleur grise */
  }

  .header-text h2 {
    font-weight: bold; /* Texte en gras */
  }

  .main-button-gradient {
    background: linear-gradient(90deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%);
    border-radius: 8px; /* Arrondir les coins */
    padding: 10px 20px;
    display: inline-block;
  }

  .main-button-gradient a {
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .main-button-gradient a:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Couleur de fond légèrement plus sombre au survol */
  }

  .right-image {
    text-align: right; /* Aligner l'image à droite */
  }
  .services {

    text-align: center; /* Centrer le titre */
  }

  .services .owl-service-item {
    display: flex; /* Utiliser Flexbox pour aligner les éléments sur une seule ligne */
    justify-content: space-around; /* Répartir les éléments de manière égale sur la ligne */
    align-items: center; /* Centrer verticalement les éléments */
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
  }

  .services .item {
    flex: 1; /* Faire en sorte que chaque élément prenne la même largeur */
    margin: 0 10px; /* Espacement horizontal entre les éléments */
  }

  .service-item {
    text-align: center; /* Centrer le contenu des services */
  }

  .service-item h4 {
    margin-top: 20px; /* Espacement entre le titre et le contenu */
  }
  .header-area {
    padding-bottom: 50px; /* Espacement sous la première section */
  }

  .services {
    padding-top: 50px;
    min-height: 50vh; }
  .about .page-heading {
    text-align: center; /* Centrer le titre */
    padding: 50px 0;
  }

  .about .get-info .container {
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    align-items: center; /* Centrer verticalement les éléments */
  }

  .about .left-image {
    flex: 0 0 50%; /* Faire en sorte que la photo occupe 50% de la largeur */
    padding-right: 20px; /* Espacement entre la photo et le texte */
  }

  .about .left-image img {
    max-width: 100%; /* Assurer que la photo ne dépasse pas sa taille d'origine */
    border-radius: 10px; /* Rendre la photo arrondie */
  }

  .about .section-heading {
    flex: 0 0 50%; /* Faire en sorte que le texte occupe 50% de la largeur */
  }

  .about .section-heading h6,
  .about .section-heading h4 {
    color: #808080; /* Couleur grise pour les titres */
  }
  .our-team {
    text-align: center; /* Centrer le titre */
    padding: 50px 0; /* Espacement autour de la section */
    min-height: 50vh;
}

.our-team .section-heading {
    margin-bottom: 50px; /* Espacement en dessous du titre */
}

.our-team .menu {
    display: flex;
    flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    justify-content: center; /* Centrer les éléments horizontalement */
    gap: 20px; /* Espacement entre les éléments */
}

.our-team .menu div {
    text-align: center; /* Centrer le contenu */
}

.our-team img {
    border-radius: 50%; /* Rendre les images arrondies */
    width: 150px; /* Taille des images */
    height: 150px;
    object-fit: cover; /* S'assurer que les images conservent leur proportion */
}

.our-team h4 {
    margin-top: 10px; /* Espacement entre le nom et l'image */
}

.our-team span {
    color: rgba(219, 138, 222, 1); /* Couleur des membres */
}
section.contact-us {
    background-image: url(/src/assets/images/footer-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    position: relative;
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    justify-content: space-between; /* Aligner les éléments sur la largeur */
    margin-top: 50px; /* Espacement au-dessus de la section */
  }
  section.contact-us:after {
    position: absolute;
    content: '';
    background-image: url(/src/assets/images/footer-left-dec.png);
    left: 0px;
    top: 60px;
    width: 267px;
    height: 396px;
    z-index: 1;
  }

 header, nav, section, article, aside, footer, hgroup {
    display: block;
  }
  body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  section {
    margin-top: 140px;
  }

  #contact-section {
    padding-top: 20px;
  }

  .section-heading {
    position: relative;
    z-index: 2;
    padding-top: 20px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 60px;
  }
  section.contact-us #contact {
    margin-left: -100px;
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 40px;
  }

  section.contact-us #contact input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #f4f7fb;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
  }

  section.contact-us #contact textarea {
    width: 100%;
    min-height: 140px;
    max-height: 180px;
    border-radius: 5px;
    background-color: #f4f7fb;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 15px;
    margin-bottom: 30px;
  }
