<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img src="assets/images/logott.png" alt="Our TTC">

          </a>

          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a class="nav-link" routerLink="/layout">Home</a></li>
            <li><a class="nav-link" [routerLink]="['/home']" fragment="services">Services</a></li>
            <li><a class="nav-link" [routerLink]="['/home']" fragment="about">About Us</a></li>
            <li><a class="nav-link" [routerLink]="['/home']" fragment="contact-section">Contact Us</a></li>


            <!-- <li class="scroll-to-section"><a href="#services">Services</a></li>
                        <li class="scroll-to-section"><a href="#about">About US</a></li>
                        <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
                        <a routerLink="/register"><button id="signup-btn" >Sign Up</button></a>
                        <a routerLink="/login" ><button id="signin-btn">Sign In</button> </a> -->

            <!-- admin -->
            <ng-container *ngIf="user && user.role =='admin' ">
              <li><a class="nav-link" routerLink="/admin" routerLinkActive="actif">Dashboard</a>
              </li>
            </ng-container>

            <!-- user -->
            <ng-container *ngIf="user && user.role =='user' ">
              <li><a class="nav-link" routerLink="/user" routerLinkActive="actif">Dashboard
                </a></li>

            </ng-container>

            <ng-container *ngIf="!user">
              <li>
                <!-- <button class="btn btn-success mx-1" id="signin-btn" routerLink="/login" >Connexion</button>
                            <button class="btn btn-secondary mx-1" id="signup-btn" routerLink="/register" >Register</button> -->
                <button type="button" class="btn btn-outline-success" style="margin-right: 10px;"
                  routerLink="/login"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                  </svg> Login</button>

                <button type="button" class="btn btn-outline-warning" routerLink="/register">Sign up</button>
              </li>
            </ng-container>

            <ng-container *ngIf="user">
              <li>
                <p style="display: inline-block;color: white;margin-right: 10px;">Welcome {{user.nom}} {{user.prenom ??
                  ""}}</p>
                <button type="button" style="margin-left: 10px;" class="btn btn-danger" (click)="logout()">Logout
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                    <path fill-rule="evenodd"
                      d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                  </svg></button><br>


              </li>
            </ng-container>


          </ul>

        </nav>
      </div>
    </div>
  </div>
</header>
