<div class="d-flex flex-column min-vh-100">

  <app-nav-bar *ngIf="!(router.url.includes('/admin') || router.url.includes('/user'))"></app-nav-bar>

  <router-outlet></router-outlet>


  <!-- <app-footer class="mt-auto" ></app-footer> -->
</div>