  <head>
    <meta charset="UTF-8" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <div class="container mt-3">
    <div class="profile">
      <h1 class="mb-2">List of Services</h1>
      <input type="button" value="Create" (click)="openAjout()" class="btn btn-primary">
      <table class="table table-bordered table-hover mt-3">
        <thead>
          <tr class="table-secondary">
            <th>#</th>
            <th>Name</th>
            <th>Input</th>
            <th>Filter</th>
            <th>Output</th>
            <th colspan="4">Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let i of listeServices; let x = index">
            <td>{{x+1}}</td>
            <td>{{i.name}}</td>
            <td>{{i.input}}</td>
            <td>{{i.filter}}</td>
            <td>{{i.output}}</td>
            <td> <input type="button" value="Logs" (click)="viewLogs(i.name)" class="btn btn-outline-success"></td>
            <td> <input type="button" value="Charts" (click)="viewCharts(i.name)" class="btn btn-outline-info">
            </td>
            <td> <input type="button" value="Edit" (click)="onModifie(i)" class="btn btn-outline-warning "></td>
            <td> <input type="button" value="Delete" (click)="onDeleteService(i.id_service, i.name)"
                class="btn btn-outline-danger">
            </td>
            <!-- <td><button type="button" class="btn btn-outline-primary">Handle
                Click</button></td>-->


        </tbody>
      </table>
  </div>


  <ng-template #pop let-modal>

    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Add a new proposition </h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body p-5 pt-0">

        <form [formGroup]="popform" (ngSubmit)="onSubmit()">
          <input type="hidden" id="oldName" name="oldName" formControlName="oldName" class="form-control">
          <label for="id_service">ID:</label><br>
          <input type="text" id="id_service" name="id_service" formControlName="id_service" class="form-control"
            readonly>
          <label for="name" class="form-label mt-3">Name:</label><br>
          <input type="text" id="name" name="name" class="form-control" formControlName="name">
          <label for="input" class="form-label mt-3">Input</label><br>
          <input type="text" id="input" name="input" class="form-control" formControlName="input">
          <label for="filter" class="form-label mt-3"> Filter:</label><br>
          <textarea id="filter" formControlName="filter" class="form-control"></textarea>

          <input type="submit" class="btn btn-success m-3" value="Submit" [disabled]="popform.invalid">
          <input type="button" class="btn btn-secondary" value="Cancel" (click)="modal.close()">

        </form>

      </div>
    </div>
  </ng-template>

  <ng-template #pop1 let-modal>

    <div class="modal-content">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Add Service</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>

      <div class="modal-body p-5 pt-0">

        <form [formGroup]="popform1" (ngSubmit)="onAjout()">
          <label for="name">Name:</label><br>
          <input type="text" id="name" class="form-control" formControlName="name">
          <label for="input" class="form-label mt-3">Input:</label><br>
          <input type="text" id="input" class="form-control" formControlName="input">
          <!--<label for="filter" class="form-label mt-3"> Filter:</label><br>
        <input type="filter" id="filter" formControlName="filter" class="form-control">
        -->
          <label for="filter" class="form-label mt-3"> Filter:</label><br>
          <textarea id="filter" formControlName="filter" class="form-control"></textarea>
          <input type="submit" class="btn btn-success m-3" value="Submit" [disabled]="popform1.invalid">
          <input type="button" class="btn btn-secondary" value="Cancel" (click)="modal.close()">
        </form>

      </div>
    </div>
  </ng-template>
</div>
