<!--
<div class="col">
  <div class="col1"><nav style="float: left;">
    <ul>
      <li><a href="#" class="logo">
          <img src="assets/images/logs.png" alt="">
          <span class="nav-item">DashBoard</span>
        </a></li>
      <li><a routerLink="/home">
          <i class="fas fa-home"></i>
          <span class="nav-item">Home</span>
        </a></li>
      <li><a routerLink="/admin/logs/fortigate" routerLinkActive="active">
          <i class="fas fa-file"></i>
          <span class="nav-item"> Logs</span>
        </a></li>
      <li><a routerLink="/admin/liste-users" routerLinkActive="active">
          <i class="fas fa-user"></i>
          <span class="nav-item">Users</span>
        </a></li>
      <li><a routerLink="/admin/charts/fortigate">
          <i class="fas fa-chart-bar"></i>
          <span class="nav-item">Charts</span>
        </a></li>
      <li><a routerLink="/admin/liste-services" routerLinkActive="active">
          <i class="fas fa-tasks"></i>
          <span class="nav-item">Services</span>
        </a></li>

      <li><a href="" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item" (click)="logout()">Log out</span>
        </a></li>
    </ul>
  </nav></div>
  <div class="col2">    <router-outlet></router-outlet>
  </div>
</div>-->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <!-- Boxicons CDN Link -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <img class="bx bxl-c-plus-plus icon" src="assets/images/logs.png" alt="">
      <div class="logo_name">Dashboard</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      <li>
        <a routerLink="/home">
          <i class="bx bx-home"></i>
          <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
      </li>
      <li>
        <a routerLink="/admin/liste-users">
          <i class="bx bx-user"></i>
          <span class="links_name">Users</span>
        </a>
        <span class="tooltip">Users</span>
      </li>
      <li>
        <a routerLink="/admin/liste-services">
          <i class="bx bx-folder"></i>
          <span class="links_name">Services</span>
        </a>
        <span class="tooltip">Services</span>
      </li>
      <li>
        <a routerLink="/admin/logs/fortigate">
          <i class="bx bx-file"></i>
          <span class="links_name">Logs</span>
        </a>
        <span class="tooltip">Logs</span>
      </li>
      <li>
        <a routerLink="/admin/charts/fortigate">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Charts</span>
        </a>
        <span class="tooltip">Charts</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-chat"></i>
          <span class="links_name">Mails</span>
        </a>
        <span class="tooltip">Mails</span>
      </li>


      <li class="profile">
        <div class="profile-details">
          <i class="bx bx-user"></i>
          <div class="name_job" *ngIf="user && user.role =='admin' ">
            <div class="name">{{user.nom}}</div>
            <div class="job">Administrator</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out" (click)="logout()"></i>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="mt-3"><router-outlet></router-outlet></div>
  </section>

</body>

</html>
